<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.airivo.syncdb</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/mac/2026Qlin/scripts/db_sync.sh</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>REMOTE_HOST</key>
      <string>root@47.90.160.87</string>
    </dict>

    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Weekday</key><integer>1</integer>
        <key>Hour</key><integer>18</integer>
        <key>Minute</key><integer>30</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>2</integer>
        <key>Hour</key><integer>18</integer>
        <key>Minute</key><integer>30</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>3</integer>
        <key>Hour</key><integer>18</integer>
        <key>Minute</key><integer>30</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>4</integer>
        <key>Hour</key><integer>18</integer>
        <key>Minute</key><integer>30</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>5</integer>
        <key>Hour</key><integer>18</integer>
        <key>Minute</key><integer>30</integer>
      </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/mac/2026Qlin/logs/db_sync.launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mac/2026Qlin/logs/db_sync.launchd.err</string>
  </dict>
</plist>
